html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-background);
  font-family: Manrope, sans-serif;
  color: var(--color-text);
  font-size: var(--font-size-middle);
}