// Mixin: Center Alignment
// This mixin is used for center alignment of elements.
/// @example @include center;

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Mixin: Minimum Size
// This mixin sets the minimum size for an element.
//
// @example
//   @include min-size(20px);
//
// @param {value} $size - The minimum size value for both width and height.
@mixin min-size($size) {
  min-width: $size;
  min-height: $size;
}


// Mixin: List Reset
// This mixin resets styles for unordered and ordered lists.
//
// @example
//   @include list-reset();
//

@mixin list-reset() {
  margin: 0;
  list-style: none;
  padding-left: 0;
}