:root {
  // colors
  --color-primary: #523634;
  --color-primary-hover: #422b29;
  --color-primary-focus: #332120;
  --color-disabled: #c9c9c9;
  --color-secondary: #b6452c;
  --color-border: #d4d4d4;
  --color-text: #180d14;
  --color-light: #ddc5a2;
  --color-white: #fff;
  --color-backdrop: rgba(0, 0, 0, .45);

  // spaces
  --space-small: 1rem;
  --space-medium: 1.5rem;
  --space-extra-small: 0.5rem;

  // font size
  --header-size: 2.4rem;
  --font-size-big: 1.6rem;
  --font-size-middle: 1.4rem;
  --font-size-small: 1.2rem;

  // transitions
  --transition-bg: 0.3s ease background-color;
}